config/.grant
config/Code - OSS/
config/GIMP/
config/Thunar/
config/VirtualBox/
config/chromium/
config/clojure/
config/configstore/
config/dconf/
config/eog/
config/pavucontrol.ini
config/pulse/
config/zoomus.conf
config/gtk-2.0/gtkfilechooser.ini
config/mozilla/firefox/6m5n7ih6.default/.parentlock
config/mozilla/firefox/6m5n7ih6.default/AlternateServices.txt
config/mozilla/firefox/6m5n7ih6.default/SecurityPreloadState.txt
config/mozilla/firefox/6m5n7ih6.default/SiteSecurityServiceState.txt
config/mozilla/firefox/6m5n7ih6.default/TRRBlacklist.txt
config/mozilla/firefox/6m5n7ih6.default/addonStartup.json.lz4
config/mozilla/firefox/6m5n7ih6.default/addons.json
config/mozilla/firefox/6m5n7ih6.default/bookmarkbackups/
config/mozilla/firefox/6m5n7ih6.default/broadcast-listeners.json
config/mozilla/firefox/6m5n7ih6.default/cert9.db
config/mozilla/firefox/6m5n7ih6.default/compatibility.ini
config/mozilla/firefox/6m5n7ih6.default/containers.json
config/mozilla/firefox/6m5n7ih6.default/content-prefs.sqlite
config/mozilla/firefox/6m5n7ih6.default/cookies.sqlite
config/mozilla/firefox/6m5n7ih6.default/cookies.sqlite-wal
config/mozilla/firefox/6m5n7ih6.default/crashes/
config/mozilla/firefox/6m5n7ih6.default/datareporting/
config/mozilla/firefox/6m5n7ih6.default/datareporting/
config/mozilla/firefox/6m5n7ih6.default/extension-preferences.json
config/mozilla/firefox/6m5n7ih6.default/extensions.json
config/mozilla/firefox/6m5n7ih6.default/extensions/
config/mozilla/firefox/6m5n7ih6.default/favicons.sqlite
config/mozilla/firefox/6m5n7ih6.default/favicons.sqlite-wal
config/mozilla/firefox/6m5n7ih6.default/gmp/
config/mozilla/firefox/6m5n7ih6.default/handlers.json
config/mozilla/firefox/6m5n7ih6.default/key4.db
config/mozilla/firefox/6m5n7ih6.default/lock
config/mozilla/firefox/6m5n7ih6.default/minidumps/
config/mozilla/firefox/6m5n7ih6.default/permissions.sqlite
config/mozilla/firefox/6m5n7ih6.default/pkcs11.txt
config/mozilla/firefox/6m5n7ih6.default/places.sqlite
config/mozilla/firefox/6m5n7ih6.default/places.sqlite-wal
config/mozilla/firefox/6m5n7ih6.default/prefs.js
config/mozilla/firefox/6m5n7ih6.default/prefs.js
config/mozilla/firefox/6m5n7ih6.default/saved-telemetry-pings/
config/mozilla/firefox/6m5n7ih6.default/search.json.mozlz4
config/mozilla/firefox/6m5n7ih6.default/serviceworker.txt
config/mozilla/firefox/6m5n7ih6.default/sessionCheckpoints.json
config/mozilla/firefox/6m5n7ih6.default/sessionstore-backups/
config/mozilla/firefox/6m5n7ih6.default/storage.sqlite
config/mozilla/firefox/6m5n7ih6.default/storage/
config/mozilla/firefox/6m5n7ih6.default/storage/
config/mozilla/firefox/6m5n7ih6.default/times.json
config/mozilla/firefox/6m5n7ih6.default/webappsstore.sqlite
config/mozilla/firefox/6m5n7ih6.default/webappsstore.sqlite-wal
config/mozilla/firefox/6m5n7ih6.default/cert_override.txt
config/mozilla/firefox/6m5n7ih6.default/enumerate_devices.txt
config/mozilla/firefox/6m5n7ih6.default/xulstore.json
config/mozilla/firefox/6m5n7ih6.default/weave/
config/mozilla/firefox/Crash Reports/
config/mozilla/firefox/Pending Pings/
config/mozilla/extensions/
config/mozilla/systemextensionsdev/
.idea
sysconf
*.iso
config/keybase/
config/Keybase/
config/mozilla/firefox/6m5n7ih6.default/blocklist.xml
config/mozilla/firefox/6m5n7ih6.default/formhistory.sqlite
config/mozilla/firefox/6m5n7ih6.default/gmp-gmpopenh264/
config/mozilla/firefox/6m5n7ih6.default/logins.json
config/mozilla/firefox/6m5n7ih6.default/notificationstore.json
config/mozilla/firefox/6m5n7ih6.default/shield-recipe-client.json
config/nvm/
